<template>
  <div class="col-md-12 mt-4" v-if="consultarEstadoComponente">
    <b-overlay :show="show" rounded="sm">
      <div class="card">
        <div class="card-header bg-primary text-light">          
          <a @click="cargaInicial();" style="cursor:pointer;">Categorias</a>
          <a @click="cerrarVentana();" class="float-right" style="cursor:pointer!important;font-weight:bolder!important;" title="Cerrar esta Ventana">X</a>
        </div>
        <div class="card-body">
          <div class="row mt-4">
            <div class="col-md-10">
                              
            </div>
            <div class="col-md-2">
              <div class="float-right">
                <button title="Listar" @click="ejecutarAcciones(0)" :class="{'btn':true, 'btn-success':(indicadorvista===0), 'btn-primary':(indicadorvista===1)}">
                  <icon icon="list" class="text-light fa-1x"></icon>
                </button>
                <button title="Crear Nuevo Registro" @click="ejecutarAcciones(1)" :class="{'btn':true, 'btn-success':(indicadorvista===1), 'btn-primary':(indicadorvista===0)}">
                  <icon icon="plus" class="text-light fa-1x"></icon>
                </button>
              </div>
            </div>
          </div>
          <b-container fluid v-show="!indicadorvista">
            <div class="row mt-4">
              <div class="col-md-4">
                <b-form-input v-model="filtrosppal.nombre" placeholder="Filtrar por Nombre de la Categoria"></b-form-input>
              </div>
              <div class="col-md-4">
                <b-form-input v-model="filtrosppal.observacion" placeholder="Filtrar por Observacion de la Categoria"></b-form-input>
              </div> 
              <div class="col-md-4">
                <button title="Filtrar Registros" @click="filtrarRegistrosPpal();" class="btn btn-success">
                  <icon icon="search" class="text-light fa-1x"></icon>
                </button>
                <button title="Limpiar filtros" @click="limpiarFiltrosPpal();" class="btn btn-primary">
                  <icon icon="eraser" class="text-light fa-1x"></icon>
                </button>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <div class="overflow-auto">
                      <b-table
                      id="tabla_categorias" 
                      striped 
                      hover 
                      responsive 
                      :items="items"
                      :fields="fields" 
                      :per-page="perPage"
                      :current-page="currentPage"
                      small 
                      show-empty 
                      >                        
                      <template v-slot:empty="scope">
                        <h6>No hay datos para mostrar</h6>
                      </template>
                      <template v-slot:emptyfiltered="scope">
                        <h6>No hay datos para mostrar</h6>
                      </template>
                      <template v-slot:cell(Editar)="data">
                        <icon icon="edit" class="text-success fa-1x" 
                          style="cursor:pointer;" title="Editar Registro"
                          @click="editarRegistro(data.value);">
                        </icon>
                      </template>
                      <template v-slot:cell(Eliminar)="data">
                        <icon icon="times" class="text-danger fa-1x" 
                          style="cursor:pointer;" title="Eliminar Registro"
                          @click="confirmarEliminarRegistro(data.value);">
                        </icon>
                      </template>
                      <template v-slot:cell()="data">
                        {{ data.value.charAt(0).toUpperCase()+data.value.slice(1) }}
                      </template>
                      </b-table>
                      <b-pagination
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="perPage"
                      aria-controls="my-table" 
                      class="float-right" 
                      ></b-pagination>
                  </div>
              </div>
            </div>
          </b-container>
          <b-container fluid v-show="indicadorvista">
              <div class="row mt-4">
                <input type="hidden" v-model="categoria.idcategoria" /> 
                <div class="col-md-4">
                  <b-form-input placeholder="Nombre de la Categoria" v-model="categoria.nombre" required></b-form-input>
                </div>
                <div class="col-md-4">
                  <b-form-input placeholder="Observación" v-model="categoria.observacion"></b-form-input>
                </div>               
              </div>   
              <div class="row mt-4">
                <div class="col-md-2">
                  <b-button variant="success" @click="confirmarGuardarRegistro();">Guardar Registro</b-button>
                </div>
              </div>             
          </b-container>
        </div>
      </div>
    </b-overlay>
  </div>  
</template>
<script>
import store from '../store/store.js';

export default {
  data() {
    return {
      nombre:'categorias',
      indicadorvista: 0,
      show: false, 
      idactual:0,
      subaccion:'',      
      categoria: {},
      filtrosppal:{},
      perPage: 10,
      currentPage: 1,            
      items: [],
      fields:[]
    };
  },
  created() {
    this.cargaInicial();
  },
  mounted() {

  },
  computed: {
    rows() {
      return this.items.length;
    },
    consultarEstadoComponente(){
      return this.$store.getters.buscarEstadoComponentes[this.nombre];
    }
  },
  methods:{
      cargaInicial(){
        this.filtrosppal={};
        this.buscarCategorias();   
      },
      cerrarVentana(){
        store.commit('desactivarActivarComponentes', {
          'componente':this.nombre,
          'accion':0
        });
      },  
      filtrarRegistrosPpal(){
        if(!this.filtrosppal.nombre && !this.filtrosppal.observacion){
          return;
        }
        this.buscarCategorias();
      },
      limpiarFiltrosPpal(){
        this.filtrosppal={};
        this.buscarCategorias();
      },
      buscarCategorias(id=0){
        this.show=true;
        let parametro='';
        if(id){          
          parametro='?id='+id;
        }else{
          if(this.filtrosppal.nombre){
            parametro+="?nombre="+this.filtrosppal.nombre;
          }
          if(this.filtrosppal.observacion){
            parametro+='?observacion='+this.filtrosppal.observacion;
          }
        }        
        axios.get("/categorias"+parametro).then(res => {
          this.show=false;    
          if(id){
            this.categoria=res.data[0];
          }else{
            this.cargarDatosTabla(res.data);
          }            
        });
      }, 
      ejecutarAcciones(indicador){
          if(indicador){
            this.categoria={};
          }else{
            this.buscarCategorias();
          }          
          this.indicadorvista=indicador;
      },
      cargarDatosTabla(datos){
        this.fields=[];
        this.items=[];
        if(!parseInt(datos.length)){
          return;
        }
        for (const a in datos) {
          if(!parseInt(this.fields.length)){
            for (const b in datos[a]) {
              if(b!='id' || b.substring(0, 2)!='id'){
                this.fields.push({
                  key: b,
                  sortable: true
                });
              }    
            }
            this.fields.push({
              key: 'Editar',
              sortable: false
            });
            this.fields.push({
              key: 'Eliminar',
              sortable: false
            });
          }
          let item=datos[a];
          item['Editar']=datos[a]['id'];         
          item['Eliminar']=datos[a]['id'];  
          this.items.push(item);   
        }
      },
      editarRegistro(id){
        this.idactual=id;
        this.subaccion='editar';
        this.confirmacion();
      },
      confirmarEliminarRegistro(id){
        this.idactual=id;
        this.subaccion='eliminar';     
        this.confirmacion();   
      },
      aceptarSubaccion(){
        if(this.subaccion=='editar'){
          this.ejecutarAcciones(1);
          this.buscarCategorias(this.idactual);
        }else if(this.subaccion=='guardar'){
          this.guardarRegistro();          
        }else if(this.subaccion=='eliminar'){
          this.eliminarRegistro();
        }
      },
      eliminarRegistro(){
        this.show=true;
        axios.delete(`/categorias/${this.idactual}`).
          then(()=>{
            this.show=false;  
            this.$toasted.success('- El registro fue eliminado exitosamente').goAway(3000);   
            this.ejecutarAcciones(0);
          });
      }, 
      validarRegistrosxGuardar(){
        let indicador=true;
        if(!this.categoria.nombre){
          this.$toasted.error('- Debe ingresar el nombre de la Marca').goAway(3000);
          indicador=false;
        }
       return indicador;
      },
      accionesPostGuardado(){
        this.show=false;   
        this.$toasted.success('- El registro fue guardado exitosamente').goAway(3000); 
        this.ejecutarAcciones(0);
      },
      guardarRegistro(){        
        this.show=true;
        if(!this.categoria.idcategoria){
          axios.post('/categorias', this.categoria)
          .then(
              res=>{
                this.accionesPostGuardado();
              }
          ).catch(error => {              
              this.validacionErroresalGuardar(error); 
          });
        }else{
          axios.put(`/categorias/${this.categoria.idcategoria}`, this.categoria)
          .then(
              res=>{
                this.accionesPostGuardado();
              }
          ).catch(error => {
              this.validacionErroresalGuardar(error);              
          });
        }        
      },
      validacionErroresalGuardar(error){
        this.show=false;
        this.$toasted.success('- Se presentaron errores durante el proceso de guardar el registro').goAway(3000); 
        let errores=error.response.data.errors;
        for (const a in errores) {
          this.$toasted.error(errores[a]).goAway(3000); 
        }
      },
      confirmarGuardarRegistro(){
        if(!this.validarRegistrosxGuardar()){
          return;
        }
        this.subaccion='guardar';  
        this.confirmacion();
      },
      confirmacion() {
        let titulo=`Desea ${this.subaccion} este registro?`;
        this.$bvModal.msgBoxConfirm(titulo, {
          title: 'Confirmación',
          size: 'md',
          buttonSize: 'md',
          okVariant: 'success',
          okTitle: 'Aceptar',
          cancelVariant: 'danger',
          cancelTitle: 'Cancelar',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
          .then(value => {
            if(value){
              this.aceptarSubaccion();
            }            
          })
          .catch(err => {
            // An error occurred
          });
      }
  }
};
</script>
