<template>
  <div>
    <b-button v-b-toggle.sidebar-variant class="btn-success"><icon icon="bars" class="text-light fa-1x"></icon></b-button>
    <b-container class="col-md-12" fluid>
        <b-sidebar id="sidebar-variant" bg-variant="dark" text-variant="light" shadow>
            <div class="px-3 py-2">
                <p>
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
                in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                </p>
                <b-img src="https://picsum.photos/500/500/?image=54" fluid thumbnail></b-img>
            </div>
        </b-sidebar>   
    </b-container>   
  </div>
</template>

<script>
    export default {
        data() {
            return {

            }                
        }
    }
</script>